body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  text-align: center;
}

html, body {
  font-size: 15px;
  line-height: 1.5;
}

img {
  width: 50%;
  height: 50%;
}

img.about-me {
  background-color: darkolivegreen;
}

.about-me {
  background-color: darkgray;
  color:aliceblue;
}

.header {
  background-color: lightcoral;
  color:aliceblue;
}

ul {
  list-style: none;
}

.emphasis {
  font-weight: bold;
}